// stylesheet for fonts

// title font
$font-title: "Brush Script MT", cursive;

// default font
$font-default: jumble, sans-serif;

// sizes
$font-size-default: medium;
$font-large: xx-large;
$font-medium: x-large;
$font-small: large;
