@use "./stylesheets/index.scss";
@use "sass:color";
@use "sass:math"; // Required for division

// set defaults
body {
    background: index.$background-color-1;
    color: index.$text-color-1;
    font-size: index.$font-size-default;
}

.panel {
    display: flex;
    align-items: center;
    gap: 6px;
}

.module {
    padding: 8px;
    margin: 10px 0px;
    background: index.$background-color-3;
    background: -webkit-linear-gradient(180deg, color.adjust(index.$background-color-3, $hue: 0deg) 0%, color.adjust(index.$background-color-3, $hue: 30deg) 50%, color.adjust(index.$background-color-3, $hue: 90deg) 100%);
    background: -moz-linear-gradient(180deg, color.adjust(index.$background-color-3, $hue: 0deg) 0%, color.adjust(index.$background-color-3, $hue: 30deg) 50%, color.adjust(index.$background-color-3, $hue: 90deg) 100%);
    background: linear-gradient(180deg, color.adjust(index.$background-color-3, $hue: 0deg) 0%, color.adjust(index.$background-color-3, $hue: 30deg) 50%, color.adjust(index.$background-color-3, $hue: 90deg) 100%);
    border: 1.5px solid index.$border-color;
    box-shadow: inset 0px 0px 5px 0px index.$shadow-color;
    @include index.break-corners;
}

.bordering {
    position: relative;
    padding: 8px;
    margin: 10px 0px;
    border: 1.5px solid index.$detailing;
    background: index.$detailing-gradient-fallback;
    background: -webkit-linear-gradient(180deg, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-1) 0%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-2) 50%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-3) 100%);
    background: -moz-linear-gradient(180deg, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-1) 0%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-2) 50%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-3) 100%);
    background: linear-gradient(180deg, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-1) 0%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-2) 50%, color.adjust(index.$detailing-gradient-fallback, $hue: index.$grad-deg-3) 100%);
    @include index.break-corners;
}

.bordering > div {
    background: index.$detailing-gradient-solid-cover;
    border: 8px solid transparent;
}

.second-border {
    padding: 8px;
    margin: 10px 0px;
    border: 1.5px solid index.$detailing;
    @include index.break-corners;
}

.section-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.wire-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
}

// Levelver Style
$lvl-bar-height: 120px; // total height of bar
$lvl-number: 25; // number of levels in a bar

.leveler-layout {
    display: flex;
    gap: 4px;
}

.leveler-background {
    background: index.$background-color-2;
}

.leveler-level-bar-style {
    height: $lvl-bar-height;
    width: 24px;
    background: color.adjust(index.$background-color-3, $lightness: 10%, $saturation: 10%);
    border: 1.5px solid index.$shadow-color;
    display: flex;
    flex-direction: column-reverse;
}

.leveler-level-bar-style > div {
    height: math.div($lvl-bar-height, $lvl-number);
}

.level-style {
    box-shadow: 1px 2px 2px 0px color.adjust(index.$shadow-color, $alpha: .1);
    background: index.$detailing;
}

// font size control
.supertitle {
    font-size: index.$font-large;
}

.subtitle {
    font-size: index.$font-small;
    margin-bottom: 8px;
}

.title {
    font-size: index.$font-medium;
}

.dark-font {
    color: index.$text-color-2;
}

// indicator light style

// include animation
@include index.blinker('blink', index.$color-on, index.$color-off);

.indicator-light-label-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin-right: 18px;
}

.light-label {
    margin: 0px 12px;
    font-size: index.$font-small;
    cursor: default;
}

.indicator-light {
    background: index.$color-off;
    border-radius: 100px;
    height: 16px;
    width: 16px;
}

#indicator-lights {
    background-color: index.$background-color-2;
    border: 1px solid index.$border-color;
    box-shadow: inset 0px 0px 3px 0px index.$shadow-color;
    outline: 3px solid color.adjust(index.$background-color-3, $hue: 90deg);
    padding: 8px;
    margin: 10px 0px;
    @include index.break-corners;
}

#run-light {
    animation: blink 1s linear infinite;
}